
.span1 {
    color: green;
}

.span2 {
    color: red;
}

.table {
    width: 100%;
}

th {
    border: 1px solid #ff6a00;
    font-size: 20px;
    border-radius: 24px;
}

.Bỏ {
    display: none;
}

td {
    padding: 10px;
    text-align: center;
    font-size: 15px;
}

.search {
    margin: 20px;
}

.txtSearch {
    background: none;
    border: 1px solid #ff6a00;
    height: 30px;
    width: 200px;
    border-radius: 24px;
}

.btnSearch {
    margin-top: -10px;
    background: none;
    border-radius: 24px;
    border: 1px solid #ff6a00;
    height: 30px;
    width: 30px;
}

    .btnSearch:hover {
        background: #ff6a00;
    }
