
@{
    ViewBag.Title = "ProductDetailView";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<h4 class="title"><span class="text">Chi tiet san pham</span></h4>
<section class="main-content">
    <ul class="thumbnails">
        <li class="span4">
            <div>
                <img src="/Content/themes/images/ladies/1.jpg" alt="Ten SP" style="opacity: 1;" data-spm-anchor-id="id">
            </div>
        </li>

        <li class="span4">
            <div class="pdp-mod-product-badge-wrapper">

                <span class="title">TEN SAN PHAM</span>
                <br>
                <br />
                <span class="category">
                    <select class="mdb-select md-form" style="width: 160px">
                        <option value="" disabled selected>Chọn Size</option>
                        <option value="">S</option>
                        <option value="">M</option>
                        <option value="">L</option>
                        <option value="">XL</option>
                    </select>
                </span>
                <br>
                <br />
                <p style="text-align:left"><font size="5"><strike>$37.50</strike></font></p>
                <br />
                <p class="price" style="text-align:left"><font size="9" color="red">$32.50</font></p>
                <p style="background-color:#ccc;height:1px"></p>
            </div>
            <div style="width:auto">
                <div class="">
                    <button class="btn btn-default">-</button>
                    <input class="" type="number" value="1" style="margin-top: 10px; width: 100px">
                    <button class="btn btn-default">+</button>
                </div>
                <p style="background-color:#ccc;height:1px"></p>
            </div>
            <div>
                <button class="btn btn-success" style="width:125px">Thêm vào giỏ</button>
                <button class="btn btn-danger" style="width:125px">Thanh toán</button>
            </div>
        </li>
        <li>
            <details>
                <summary><mark>Phương thức giao hàng</mark></summary>
                <p>
                    <div class="">
                        <div class="">Tuỳ chọn giao hàng<span class="glyphicon glyphicon-asterisk"></span></div>
                        <div class="">dsadas<span class="glyphicon glyphicon-refresh"></span></div>

                    </div>
            </details>
        </li>

    </ul>
</section>