
@{
    ViewBag.Title = "Index";
}


<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h1>Hộp thư hỗ trợ khách hàng</h1>
    <form>
        <fieldset>
            <legend>Personal information:</legend>
            Tiêu đề*<br>
            <input type="text" name="Tieu de"><br>
            Nội dung*<br>
            <input type="text" name="Note"><br>
            Họ và tên*<br>
            <input type="text" name="Ho va ten"><br>
            Địa chỉ email<br>
            <input type="text" name="D/C lien he"><br>
            Số điện thoại<br>
            <input type="text" name="SDT">
        </fieldset>
        <br>
        <input type="submit" value="Gửi liên hệ">
    </form>
</body>
</html>

