@{
    ViewBag.Title = "Thông tin tài khoản";
}

    <section class="header_text">
        <h4 class="title"><span class="text">Thông tin tài khoản</span></h4>

        <table class="table table-bordered table-condensed table-hover table-striped">
            <tr>
                <th colspan="2" rowspan="4">
                    <img src="~/Content/Image/Nguyen.jpg" alt="Đậu Đậu" width="168" height="168" />
                </th>
                <th>
                    Họ và tên
                </th>
                <td>
                    Đặng Quang Nguyên
                </td>
                <th>
                    Username
                </th>
                <td>
                    dqn1411
                </td>
            </tr>
            <tr>
                <th>
                    Ngày sinh
                </th>
                <td>
                    14/11/1999
                </td>
                <th>
                    Giới tính
                </th>
                <td>
                    Nam
                </td>
            </tr>
            <tr>
                <th>
                    Địa chỉ
                </th>
                <td>
                    123 ABC P.13 Q.GV
                </td>
                <th>
                    Số điện thoại
                </th>
                <td>
                    0123456789
                </td>
            </tr>
            <tr>
                <th>
                    Email
                </th>
                <td colspan="3">
                    quangnguyenne1411@gmail.com
                </td>
            </tr>
        </table>
    </section>
