@{
    ViewBag.Title = "Thông tin tài khoản";
}

<table class="table table-bordered table-condensed table-hover table-striped">
    <tr>
        <th colspan="2" rowspan="4">
            Image
        </th>
        <th>
            Họ và tên
        </th>
        <td>
            Đặng Quang Nguyên
        </td>
    </tr>
    <tr>
        <th>
            Ngày sinh
        </th>
        <td>
            14/11/1999
        </td>
    </tr>
    <tr>
        <th>
            Giới tính
        </th>
        <td>
            Nam
        </td>
    </tr>
    <tr>
        <th>
            Địa chỉ
        </th>
        <td>
            123 ABC P.13 Q.GV
        </td>
    </tr>
    <tr>
        <th>
            Số điện thoại
        </th>
        <td>
            0123456789
        </td>
        <th>
            Email
        </th>
        <td>
            quangnguyenne1411@gmail.com
        </td>
    </tr>
</table>