@{
    ViewBag.Title = "Contact";
}
@{
    ViewBag.Title = "Địa chỉ";
}

<h4 class="title"><span class="text">Địa Chỉ (TRANG)</span></h4>
<address class="footer-address">
    <div class="container">
        <div class="address-office">
            <i class="tikicon icon-location"></i>
            <div class="info-address">
                <p class="add-real">
                    <b>Địa chỉ văn phòng:</b>
                    Đại Học Văn Lang, quận Gò Vấp, thành phố Hồ Chí Minh
                </p>
                <p>
                    ĐH Văn Lang nhận đặt hàng trực tuyến và giao hàng tận nơi, chưa hỗ trợ mua và nhận hàng trực tiếp tại văn phòng hoặc trung tâm xử lý đơn hàng
                </p>
            </div>
        </div>
        <div class="address-service">
            <div class="info-address">
                <p class="add-real">
                    <b>Địa chỉ gửi hàng đổi/trả/bảo hành:</b>
                    Trung tâm xử lý đơn hàng - Trường Đại Học Văn Lang, Quận Gò Vấp, TP. Hồ Chí Minh
                </p>
                <p>
                    (Tham khảo <a rel="nofollow" href="#" target="_blank">hướng dẫn đổi, trả, bảo hành</a> hoặc liên hệ <span class="number">0979320779</span> để được hướng dẫn thêm)
                </p>
            </div>
        </div>
    </div>
</address>

    <p>Hãy Nhấn @Html.ActionLink("Tạo Liên Hệ", "Create", "KH_TaoThongTinLienHe") Nếu Như Bạn Gặp Bất Cứ Trở Ngại Nào Trong Quá Trình Sử Dụng.</p>