
@{
    ViewBag.Title = "Giỏ hàng của bạn";
}

<section class="header_text">
    <h4 class="title"><span class="text">Giỏ hàng của bạn</span></h4>

    @*<div class="deals__empty"><img class="deals__empty-img" src="https://vcdn.tikicdn.com/media/upload/2017/12/18/dfd8ebb029976f70e8a132459fd6405d.jpg" alt=""></div>*@
    <div>


        <table class="table table-bordered table-hover table-striped table-condensed" >
            <thead>
                <tr>
                    <th scope="col">Mã sản phẩm</th>
                    <th scope="col">Tên sản phẩm</th>
                    <th scope="col">Đơn giá</th>
                    <th scope="col">Số lượng</th>
                    <th scope="col">Tổng tiền</th>
                    <th scope="col">Nhà cung cấp</th>
                    <th scope="col">Ngày nhập</th>
                    <th scope="col">Ghi chú</th>
                    <td></td>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <th scope="row">69696969</th>
                    <td>Áo hình dưa leo</td>
                    <td>1.000.000</td>
                    <td>1</td>
                    <td>1.000.000</td>
                    <td>Tâm đẹp trai</td>
                    <td>13/5/2019</td>
                    <td>giao cho Thầy Hồ healthy</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">96969696</th>
                    <td>Áo T-Shirt hình KhÁ BảnH nhảy dậm chân</td>
                    <td>500.000</td>
                    <td>10</td>
                    <td>5.000.000</td>
                    <td>BảnH Entertainment</td>
                    <td>13/5/2019</td>
                    <td>Giao cho Tâm đẹp trai</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">12345678</th>
                    <td>Quần rách ăn mày</td>
                    <td>900.000</td>
                    <td>10</td>
                    <td>9.000.000</td>
                    <td>BảnH Entertainment</td>
                    <td>13/5/2019</td>
                    <td>Giao cho Tâm đẹp trai</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
